a
{
    color: inherit;
}

.header-row {
    display: flex; 
    flex-direction: row; 
    flex-wrap: wrap; 
    justify-content: space-between;
    width: 75%;
    margin-bottom: 55px !important;
}

.textbox
{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.highlight-row
{
    padding-top: 20px;
    min-height: 500px;
    background-color: #E29DD0;
}

.featured-section
{
    padding-top: 20px;
    min-height: 500px;
    background-color: #ad3939;
}

.featured-row
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    padding-bottom: 30px;
}

.featured-img
{ 
    width: 90%;
    max-width: 800px;
    padding-bottom: 20px;
    height: auto;
    display: flex;
    align-self: center;
}

.featured-header
{
    text-align: center;
    color: black;
    font-weight: bold;
    
}

.featured-title
{
    padding-bottom: 10px;
}

.featured-paragraph
{
    font-size: 1.1rem;
    max-width: 700px;
}

.featured-info-column
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.game-row {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: row; 
    flex-wrap: wrap; 
    padding-bottom: 20px;
}

.game-container
{
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 10px;
    margin: 0 auto; 
    transition: transform 0.3s ease; 
}

.game-container:hover
{
    transform: scale(1.1);
}

.game-thumbnail
{
    height: 300px;
    width: 225px;
    border-radius: 10px;
    padding-bottom: 5px;
}

.title
{
    font-weight: bold;
    margin-bottom: 0px;
    text-decoration: underline;
    padding-bottom: 5px;
}

.rating
{
    width: 30px;
    height: 30px;
    border-radius: 5px;
}

.rating-number
{
    font-size: 1.2rem;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.good 
{
    background-color: rgb(81, 184, 81);
}

.mid
{
    background-color: oklch(0.8387 0.154 79.33)
}

.bad
{
    background-color: #ad3939;
}

