.header-row {
    display: flex; 
    flex-direction: row; 
    flex-wrap: wrap; 
    justify-content: space-between;
    width: 75%;
    margin: 0 auto;
}

.textbox
{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.highlight-row
{
    padding-top: 20px;
    min-height: 500px;
    background-color: #E29DD0;
}

.default-row{

}

.game-row {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: row; 
    flex-wrap: wrap; 
    justify-content: space-between;
    padding-bottom: 20px;
}

.game-container
{
    padding-left: 5px;
    padding-right: 5px;
    margin: 0 auto;
}

.game-thumbnail
{
    
    height: 400px;
    width: 300px;
}
