h1
{
    text-align: center;
}

.header-img
{
    display: flex;
    margin: 0 auto;
    width: 90%;
    max-width: 1800px;
    max-height: 1000px;
    border-radius: 15px;
    margin-bottom: 20px;

}

.about-text 
{
    display: flex;
    margin: 0 auto;
    align-self: center;
    text-align: start;
    width: 90%;
    max-width: 800px;
    margin-bottom: 20px;
    font-size: 1.1rem;
}

.quote-text
{
    margin: 0 auto;
    align-self: center;
    text-align: center; 
    padding-bottom: 20px;
    font-style: italic;
}

.image-row 
{
    display: flex;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.body-image 
{

    max-width: 800px;
    width: 90%;
}

.quote-container
{
    display: flex;
    background-color: #ad3939;
    min-height: 150px;
    margin-bottom: 10px;
}

.quote-text 
{ 
    font-size: 4rem; 
}

.top-button 
{
    background-color: #ad3939;
    border: none;
    width: 100px;
    height: 50px;
    border-radius: 10px;
}
.top-button:hover
{
    background-color: #9853e0;
}


