body {
    font-family: Inter, Arial, Helvetica, sans-serif !important;
}

.contact-button{
    transition-duration: 0.4s;
    background-color:#664fe0;
}

.contact-button:hover{
    background-color: #9853e0;
    color: white;
}

.movie-buttons{
    transition-duration: 0.4s;
}

.movie-buttons:hover{
    background-color: #c64fe0;
    color: white;
    transform: scale(1.05);
}

.horizontal-scroll-wrapper{
    background: #f8f9fa;
    padding: 60px 0;
    position: relative;
}

.horizontal-scroll-wrapper h1 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 2rem;
}

.horizontal-scroll-wrapper p{
    text-align: center;
    margin-bottom: 20px;
}

.scroll-container{
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    scroll-behavior: smooth;
    gap: 30px;
    padding: 20px;
    scrollbar-width: none; /* Firfox Functionality*/
    -ms-overflow-style: none; /* Edge Functionality */
}

.scroll-container::-webkit-scrollbar{
    display: none; /* Crhome/Safari Functionality */
}

.scroll-item {
    flex-shrink: 0;
    width: 400px;
    height: 400px;
    background: #cf88df;
    border: 0px;
    border-radius: 12px;
    padding: 30px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.scroll-item h3{
    min-height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.review-image{
    width: 70%;
    height: 300px;
}

.review-image-FFH{
    width: 70%;
    height: 300px;
}

.scrollControl-button {
    text-align: center;
    margin-top: 20px;
}

.scrollControl-button button {
    padding: 10px 20px;
    margin: 10px 10px;
    background: #cf88df;
    color: white;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    font-size: 15px;
    transition: all 0.3s;
}

.scrollControl-button button:hover{
    background: #c64fe0;
    transform: scale(1.15);
}

.scrollControl-button button:disabled{
    background: #ccc;
    cursor: not-allowed;
    transform: scale(1.1);
}

.career{
    color: white;
}

.career:hover{
    color: #c64fe0;
}
