body {
    font-family: Inter, Arial, Helvetica, sans-serif !important;
}

.header-row {
    display: flex; 
    flex-direction: row; 
    flex-wrap: wrap; 
    justify-content: space-between;
    width: 75%;
    margin: 0 auto;
}

.textbox
{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.h1-text{
    color: #E29DD0;
    font-size: 5rem;
}

.movie-buttons{
    transition-duration: 0.4s;
}

.movie-buttons:hover{
    color: black;
    transform: scale(1.05);
}

.horizontal-scroll-wrapper{
    background: #cf88df;
    padding: 30px 0;
    position: relative;
}

.horizontal-scroll-wrapper-rated{
    background: white;
    padding: 30px 0;
    position: relative;
}

.horizontal-scroll-wrapper h2{
    text-align: left;
    padding-left: 15px;
    margin-bottom: 20px;
    font-size: 2rem;
}

.horizontal-scroll-wrapper p{
    text-align: center;
    margin-bottom: 20px;
}

.scroll-container{
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    scroll-behavior: smooth;
    gap: 20px;
    padding: 10px;
    margin-left: 40px;
    scrollbar-width: none; /* Firfox Functionality*/
    -ms-overflow-style: none; /* Edge Functionality */
}

.scroll-container::-webkit-scrollbar{
    display: none; /* Crhome/Safari Functionality */
}

.scroll-item {
    flex-shrink: 0;
    width: 250px;
    height: 350px;
    background: #cf88df;
    border: 0px;
    border-radius: 12px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    text-align: center;
}

.scroll-item-rated{
    flex-shrink: 0;
    width: 250px;
    height: 350px;
    background: white;
    border: 0px;
    border-radius: 12px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    text-align: center;
}

.scroll-item h3{
    font-size: 1rem;
    min-height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0px;
    text-decoration: underline;
}

.scroll-item-rated h3{
    font-size: 1rem;
    min-height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0px;
    text-decoration: underline;
}

.review-image{
    width: 75%;
    height: 300px;
    border-radius: 10px;
}

.scrollControl-button {
    text-align: center;
    margin-top: 0px;
}

.scrollControl-button button {
    padding: 7px 15px;
    margin: 0px 5px;
    background: #664fe0;
    color: white;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    font-size: 15px;
    transition: all 0.3s;
}

.scrollControl-button button:hover{
    transform: scale(1.15);
}

.scrollControl-button button:disabled{
    background: #ccc;
    cursor: not-allowed;
    transform: scale(1.1);
}

.featured-section
{
    padding-top: 20px;
    min-height: 500px;
    background-color: #ad3939;
}

.featured-row
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    padding-bottom: 30px;
}

.featured-img
{ 
    width: 100%;
    max-width: 800px;
    padding-bottom: 20px;
    height: auto;
    display: flex;
    align-self: center;
}

.featured-header
{
    text-align: center;
    color: black;
    font-weight: bold;
    
}

.featured-title
{
    padding-bottom: 10px;
}

.featured-paragraph
{
    font-size: 1.1rem;
    max-width: 700px;
}

.featured-info-column
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.career{
    color: white;
}

.career:hover{
    color: #c64fe0;
}

.footer-titles{
    color: #9853e0;
}

.rating
{
    width: 30px;
    height: 30px;
    border-radius: 5px;
    margin-bottom: 5px;
}

.rating-number
{
    font-size: 1.2rem;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.good 
{
    background-color: rgb(81, 184, 81);
}

.mid
{
    background-color: oklch(0.8387 0.154 79.33)
}

.bad
{
    background-color: #ad3939;
}

@media screen and (min-width: 1300px){
    .scrollControl-button{
        display: none;
    }
}