body {
    font-family: Inter, Arial, Helvetica, sans-serif !important;
}

.alex-row {
    display: flex; 
    flex-direction: row; 
    flex-wrap: wrap; 
    width: 75%;
    margin: 0 auto;
}

.featured-element
{
    width: 20rem;
    transition: transform 0.3s ease;
}

.featured-element:hover 
{
 transform: scale(1.1);
}

.featured-element-box
{
    background-color: #e04f62;
    height: 500px;
}

.alex-purple {
    color: #9853E0;
}

.featured-image {
    width: 100%;
    height: 200px;
}

