body {
    font-family: Inter, Arial, Helvetica, sans-serif !important;
}

.alex-row {
    display: flex; /* Creates the flexbox container */
    flex-direction: row; /* Aligns items horizontally (default) */
    flex-wrap: wrap; /* Allows items to wrap to a new line */
    width: 75%;
    margin: 0 auto;
}

.alex-purple {
    color: #9853E0;
}

